# Ignore everything
*

# Except this directories:
!.gitignore
!Screenshots
!Screenshots/**
!WTF
!WTF/**
!Interface
!Interface/**

# But ignore this archives
Interface/*.rar
Interface/*.zip

# Also save this
!Data/enUS/realmlist*
!Data/esES/realmlist*
